@model confecionesElcondorMVC.Models.Empleado

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <h1 class="text-center text-danger mb-4">Eliminar Empleado</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title text-center mb-3">¿Estás seguro de que deseas eliminar este empleado?</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NumeroDocumento)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumeroDocumento)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PrimerNombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PrimerNombre)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.SegundoNombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.SegundoNombre)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PrimerApellido)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PrimerApellido)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.SegundoApellido)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.SegundoApellido)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaNacimiento)
                </dd>

                <dt class="col-sm-4">
                    Área de trabajo a la que pertenece
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdAreaNavigation.NombreArea)
                </dd>

                <dt class="col-sm-4">
                    Tipo de documento                
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdTipoDocumentoNavigation.NombreTipo)
                </dd>
            </dl>

            <div class="d-flex justify-content-between">
                <!-- Botón de Confirmación de eliminación -->
                <form asp-action="Delete" method="post" class="d-inline">
                    <input type="hidden" asp-for="IdEmpleado" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>

                <!-- Volver al listado de empleados -->
                <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
            </div>
        </div>
    </div>
</div>