@model IEnumerable<confecionesElcondorMVC.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<div class="container-sm mt-2">

    <h1 class="text-center mb-4">Gestión de áreas de trabajo</h1>


    <div class="d-flex justify-content-between align-items-center mb-2">
        <p class="mb-0">Lista de las areas registradas en el sistema:</p>
        <a asp-action="Create" class="btn btn-success btn-sm">
            <i class="bi bi-plus-circle"></i> Crear Nueva
        </a>
    </div>
    <p>
    </p>
    <table class="table table-striped table-hover table-bordered align-middle" style="    max-width: 600px;
    margin: 0 auto;">
        <thead class="table-dark text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreArea)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.NombreArea)
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group" aria-label="Acciones">
                            <a asp-action="Edit" asp-route-id="@item.IdArea" class="btn btn-sm btn-primary">
                                <i class="bi bi-pencil"></i> Editar
                            </a> 
                            <a asp-action="Details" asp-route-id="@item.IdArea" class="btn btn-sm btn-info text-white">
                                <i class="bi bi-eye"></i> Detalles
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.IdArea" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i> Eliminar
                            </a>
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>